* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  
  .container {
    width: 80%;
    height: 5rem;
    margin: auto;
  }
  
  .clear {
    clear: both;
  }
  
  /* strart navbar */
  .nav {
    width: 100%;
    background-color: rgb(5, 0, 8);
    position: sticky;
    z-index: 1;
    top: 0;
  }
  
  .nav .logo {
    width: 35%;
  }
  
  .nav .logo img {
    float: left;
    padding: -0.2rem 0rem;
    width: 10vw;
    height: 5vw;
    margin-top: 0.5vw;
  }
  
  .nav .nav_menu {
    width:53%;
    float: right;
    list-style: none;
  }
  
  .nav li {
    display: inline-block;
  
  
  }
  
  .nav li a {
    color: #fff;
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1.6rem 1rem;
  }
  
  .nav li a:hover {
    background-color: red;
    color: blue;
  }
  
label {
    display: inline-block;
    padding-right: 10px;
}

textarea {
    display: inline;
}

input[type=email] {
    width: 260px;
    height: 20px;
}

input[type=submit] {
    width: 100px;
    height: 25px;
    border-radius: 10px;
    background-color: black;
    text-align: center;
    color: white;
    font-weight: bold;
}

input[type=submit]:hover {
    text-decoration: none;
    color: red;
    font-weight: bold;
}

.form2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}