* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container {
  width: 80%;
  /* height: 5rem; */
  margin: auto;
}
body{
  background-color: rgb(233, 233, 233);
}

.clear {
  clear: both;
}

/* strart navbar */
.nav {
  width: 100%;
  background-color: rgb(250, 248, 248);
  position: sticky;
  z-index: 1;
  top: 0;
}

.nav .logo {
  width: 35%;
}

.nav .logo img {
  float: left;
  padding: -0.2rem 0rem;
  width: 6vw;
  height: 4vw;
  margin-top: 0.5vw;
  border-radius: 50%;
}
.nav .logo img:hover{
  border: none;
  width: 7vw;
  height: 5vw;
}

.nav .nav_menu {
  width:60%;
  float: right;
  list-style: none;
}

.nav li {
  display: inline-block;


}

.nav li a {
  color: #000;
  display: block;
  text-decoration: none;
  font-size: 1.3rem;
  padding: 1.6rem 1rem;
}

.nav li a i {
  /* color: green; */
  margin-right: 0.5rem;
}

.nav li a:hover {
  background-color: rgb(163, 139, 139);
  color: rgb(53, 53, 100);
}


#Login {
  border-bottom: 9px solid grey;
}

.login {
    position: relative;
    height: 100vh;
    width: 100%;
    /* background-image: url(); */
    background-size: cover;
    background-position: center;
}

.form_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    width: 24rem;
    padding: 3.2rem 1.9rem;
    border-radius: 0.6rem;
    box-shadow: 0.5rem 0.5rem 3.8rem #000;
}

h1 {
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.2rem;
}

.control input {
    width: 100%;
    display: block;
    padding: 0.65rem;
    color: #222;
    border: none;
    outline: none;
    margin: 1.2rem 0;
}

.control input[type="submit"]{
    background: crimson;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.control input[type="submit"]:hover{
    opacity: 1;
    cursor: pointer;
}

.link {
    text-align: center;
}

.link a{
    text-decoration: none;
    color: #fff;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.link a:hover {
    opacity: 1;
    cursor: pointer;
}
/* start footer */

.footer {
  position: relative;
  background-color: rgb(204, 203, 203);
  color: rgb(75, 74, 74);
  width: 98.75vw;
  /* top: 17vw; */
  text-align: center;
}

.footer .na
 {
  /* margin: 0.7%; */
  font-size: 2vw;
  display: block;
  
}

.footer .co{
  font-size: 1.9vw;
  font-weight: bold;
}

.footer .symbol {
  /* margin: 2%; */
  padding: 1%;
  font-size: 14px;
  font-size: 1.5vw;
}
.footer .symbol i {
 display: block;
 /* padding: 10px; */
}
.footer .symbol p {
  display: inline-block;
  padding-left: 1vw;
}

/* end footer */