* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container {
  width: 80%;
  /* height: 5rem; */
  margin: auto;
}
body{
  background-color: rgb(233, 233, 233);
}

.clear {
  clear: both;
}

/* strart navbar */
.nav {
  width: 100%;
  background-color: rgb(250, 248, 248);
  position: sticky;
  z-index: 1;
  top: 0;
}

.nav .logo {
  width: 35%;
}

.nav .logo img {
  float: left;
  padding: -0.2rem 0rem;
  width: 6vw;
  height: 4vw;
  margin-top: 0.5vw;
  border-radius: 50%;
}
.nav .logo img:hover{
  border: none;
  width: 7vw;
  height: 5vw;
}

.nav .nav_menu {
  width:60%;
  float: right;
  list-style: none;
}

.nav li {
  display: inline-block;


}

.nav li a {
  color: #000;
  display: block;
  text-decoration: none;
  font-size: 1.3rem;
  padding: 1.6rem 1rem;
}

.nav li a i {
  /* color: green; */
  margin-right: 0.5rem;
}

.nav li a:hover {
  background-color: rgb(163, 139, 139);
  color: rgb(53, 53, 100);
}

#home {
  border-bottom: 2px solid rgb(48, 39, 39);
}

/* start slidebar  */
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  right: 50%;
  margin-top: 2.5%;
}

.mySlides img {
  height: 25rem;
}

/* Caption text */
.text {
  color: black;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0.2rem 0.8rem;
  position: absolute;
  /* top: 25rem; */
  width: 80%;
  text-align: center;
  text-transform: capitalize;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 1rem;
  width: irem;
  margin: 0 0.1rem;
  background-color: rgb(53, 52, 52);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .7
  }

  to {
    opacity: 1
  }
}


/* end slidebar */


/* start section style */
@media screen and (max-width: 500px) {
  .section {
    width: 100%;
    overflow: hidden;
  }

  .section>div {
    display: block;
  }
}

.section {
  position: relative;
  /* top: 8vw; */
  width: 90vw;
  margin: auto;
  height: 30vw;
  text-align: center;
  margin-top: 1.5vw;
}
.section h2 {
  text-align: center;
  font-size: 2.5vw;
  text-transform: capitalize;
}

.section>div {
  display: inline-block;
  width: 32%;
  height: 28vw;
  margin: auto;
  
}
.section h4 {
  font-size: 1.5vw;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(49, 49, 7);
}
.section p{
  font-size: 1.2vw;
}
/* .blockone {
  border: 1px solid red;
}

.blocktwo {
  border: 1px solid yellow;
}

.blockthree {
  border: 1px solid blue;
} */

.amego {
  width: 90%;
  height: 65%;
  margin: 0.5rem;
  filter: blur(2px);
}

.amego:hover{
  filter: none;
}

/* end section */
/* start footer */

.footer {
  position: relative;
  background-color: rgb(204, 203, 203);
  color: rgb(75, 74, 74);
  width: 98.75vw;
  /* top: 17vw; */
  text-align: center;
}

.footer .na
 {
  /* margin: 0.7%; */
  font-size: 2vw;
  display: block;
  
}

.footer .co{
  font-size: 1.9vw;
  font-weight: bold;
}

.footer .symbol {
  /* margin: 2%; */
  padding: 1%;
  font-size: 14px;
  font-size: 1.5vw;
}
.footer .symbol i {
 display: block;
 /* padding: 10px; */
}
.footer .symbol p {
  display: inline-block;
  padding-left: 1vw;
}

/* end footer */