* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container {
  width: 80%;
  height: 5rem;
  margin: auto;
}

.clear {
  clear: both;
}

/* strart navbar */
.nav {
  width: 100%;
  background-color: rgb(5, 0, 8);
  position: sticky;
  z-index: 1;
  top: 0;
}

.nav .logo {
  width: 35%;
}

.nav .logo img {
  float: left;
  padding: -0.2rem 0rem;
  width: 10vw;
  height: 5vw;
  margin-top: 0.5vw;
}

.nav .nav_menu {
  width:53%;
  float: right;
  list-style: none;
}

.nav li {
  display: inline-block;


}

.nav li a {
  color: #fff;
  display: block;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 1.6rem 1rem;
}

.nav li a:hover {
  background-color: red;
  color: blue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-align: center;
}

table, th, td {
  border: 0 solid black;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 70%;
  text-align: center;
}

th, td {
  width: 10%;
}

th {
  background-color: black;
  color: white;
}

tr {
  width: 100px;
  height: 25px;
}

.table tr:nth-child(odd){
  background-color: gainsboro;
}
/* .bl7img {
  left: 0;
}

.frawla {
  background-color: grey;
  right: 0;
  display: inline-block;

} */

